<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Display Webcam Stream</title>

    <style>
        #container {
            margin: 0 auto;
            width: 500px;
            height: 375px;
            border: 10px #333 solid;
        }

        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }
    </style>
</head>

<body>
<div id="container">
    <video autoplay="true" id="videoElement"></video>
</div>
<div id="container">
    <div>
        <canvas class='videoElement' id="canvas"></canvas>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script>
    function ajax_callback(data, callback, url) {
        $.ajax({
            url: url || "",
            dataType: 'json',
            type: 'get',
            data: data
        }).done(function (data) {
            if (callback) callback(data)
        }).fail(function (data) {
            if (!data['err']) {
                data['err'] = 'problem'
            }
            if (callback) callback(data)
        })
    }
</script>
<script>
    var video = document.querySelector("#videoElement");

    var video_width = $(video).width();
    var video_height = $(video).height();

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({video: true})
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (err0r) {
                console.log("Something went wrong!");
            });

        var canvas = document.getElementById('canvas');
        canvas.width = video_width;
        canvas.height = video_height;

        var ctx = canvas.getContext('2d');
        ctx.lineWidth = 10;

        const cropCanvas = (sourceCanvas, left, top, width, height) => {
            let destCanvas = document.createElement('canvas');
            destCanvas.width = width;
            destCanvas.height = height;
            destCanvas.getContext("2d").drawImage(
                sourceCanvas,
                left, top, width, height,  // source rect with content to crop
                0, 0, width, height);      // newCanvas, same size as source rect
            return destCanvas;
        }

        function calc_emotion(face) {
            ajax_callback({'emotion': face.toDataURL("image/jpeg")}, function(emotion){
                console.log(emotion)
            });
        }

        function received_faces(faces_arr) {
            var faces = faces_arr['faces'];
            if (!faces) return;

            for (var i = 0; i < faces.length; i++) {
                var face = faces[i];
                var cropped = cropCanvas(canvas, face[0], face[1], face[2], face[3])
                calc_emotion(cropped);
                ctx.beginPath();
                ctx.rect(face[0], face[1], face[2], face[3]);
                ctx.stroke();
            }
        }

        function drawFrame() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(video, 0, 0, video_width, video_height, 0, 0, video_width / 2, video_height / 2);
            var jpegUrl = canvas.toDataURL("image/jpeg");
            ajax_callback({'frame': jpegUrl}, received_faces);
            ctx.beginPath();
        }

        window.setInterval(drawFrame, 1000)

    }
</script>


</body>
</html>